* {
  outline: none;
}

.error-label {
  color: #f55;
}

.sex {
  display: flex;
  height: 55px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  align-items: center;
  justify-content: space-evenly;
}

.sex label {
  cursor: pointer;
  padding: 10px;
  align-items: center;
  display: flex;
}

label:focus-within {
  color: var(--green);
  font-weight: bold;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  margin-top: 0;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--green);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

select:hover {
  border-color: #000;
}
