:root{
    --main-color: #3446eb;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label {
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

legend {
    color: #fff;
    font-size: 1.5rem;
}

fieldset {
    border-radius: 5px;
    text-align: end;
}

.form-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.form-login fieldset {
    width: 550px;
}

input[type="password"],
input[type="text"] {
    margin: 5px;
    width: 400px;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: var(--main-color);
    border-radius: 30px;
    color: #fff;
    transition: .12s;
}

input[type="text"]:focus,
input[type="password"]:focus{
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

input[type="submit"] {
    padding: 10px;
    margin-top: 15px;
    border: none;
    border: 2px solid #000;
    border-radius: 30px;
    background-color: var(--main-color);
    width: 100%;
    cursor: pointer;
    transition: .25s;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

input[type="submit"]:hover {
    background-color: var(--bg-color);
    color: #fff;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.form-login td {
    display: flex;
    align-items: center;
    margin-top: 1pc;
}

#see_pass {
    position: relative;
    color: #fff;
    left: -35px;
    width: 0
}

@media screen and (max-width: 767px) {
    .form-login input[type="submit"] {
        margin-bottom: 0;
    }
}

