.card {
    background-color: #e1e1e1;
    border-radius: 10px;
    padding: 30px 10px;
    width: 100%;
}

.data-table tbody tr {
    height: 74px;
    color: #000;
}

.data-table tbody tr:hover > td {
    background-color: #ececec;
  }

.data-table tbody tr:nth-child(odd) {
    background-color: #c6c6c6;
}

.data{
    border: 1px solid #000;
}

.buttons{
    display: flex;
    height: 74px;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.update-btn,
.delete-btn{
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #283142;
    transition: .25s;
    cursor: pointer;
}

.update-btn:hover{
    background-color: #3446eb;
}

.delete-btn:hover{
    background-color: #f55;
}


@media (min-width: 576px) {
    .data{
        display: table-cell;
    }

    .card {
        padding: 35px;
    }

    .data-table tbody tr {
        height: 55px;
    }

    .data-table tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .sla {
        display: table-cell;
    }
}