.topnav {
    overflow: hidden;
    background-color: var(--main-color);
    padding: 8px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100px;
  }
  
  .topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
 .topnav a:hover {
    background-color: #8bdea2;
    border-radius: 5px;
    color: #fff;
}