@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
    outline: none;
}

:root {
    --main-color: #3446eb;
    --blur-main-color: #3446eb7e;
    --bg-color: #0e1234;
}

::placeholder {
    color: #ffffff4d;
}

html {
    background: var(--bg-color);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gender-options {
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    width: 310px;
    text-align: center;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.gender-options>label {
    cursor: pointer;
    padding: 5px;
    border-radius: 30px;
    width: 140px;
    display: flex;
    align-items: center;
}

.gender-options label:hover {
    background-color: var(--main-color);
}

.gender-options label:active {
    background-color: var(--blur-main-color);
}

#data-form {
    display: none
}

#data-form,
.form-login {
    z-index: 1;
}

tbody {
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateX(0pc);
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--main-color);
    background-color: CanvasText;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

label {
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

legend {
    color: #fff;
    font-size: 1.5rem;
}

fieldset {
    border-radius: 5px;
    text-align: end;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
select {
    height: 40px;
    padding: 10px;
    border: none;
    background-color: var(--main-color);
    border-radius: 30px;
    color: #fff;
    transition: .12s;
}

input[type="date"] {
    width: 171px;
    text-align: center;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input[type="date"]:before {
    background: var(--bg-color);
    padding: 5px;
    display: block;
    font-family: 'FontAwesome';
    content: '\f073';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    right: 5px;
    color: #fff;
    border-radius: 30px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}


input[type="submit"] {
    padding: 10px;
    margin-top: 15px;
    border: none;
    border: 2px solid #000;
    border-radius: 30px;
    background-color: var(--main-color);
    width: 100%;
    cursor: pointer;
    transition: .25s;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

input[type="submit"]:hover {
    background-color: var(--bg-color);
    color: #fff;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}



@media screen and (max-width: 767px) {

    .container {
        height: 100%;
    }

    td {
        display: grid
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="date"],
    input[type="password"] {
        width: 450px;
    }

    .gender-options {
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-top: 15px;
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    input[type="submit"] {
        margin-bottom: 50px;
        margin-top: 50px;
    }

}